nav {
    padding: 1rem;
    margin-right:80px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 0;
}

nav a{
    text-decoration: underline;
    text-transform: capitalize;
}